<!DOCTYPE html>
<html>
<head>
<audio src="song.mp3" id="Audio"></audio>



</head>
<body>
<center>
<table border="1" width="400" align="center"> 
<tr>
<td align="center" colspan="2">Frieds</td><td><img src="fries.jpg" width="100" align="center"></td>    
</tr>
<tr>
<td align="center" colspan="2">KitKat</td><td><img src="kitkat.jpg" width="100" align="center"></td>    
</tr>
<tr>
<td align="center">Song</td><td align="center">Click And Play</td><td align="center"><button onClick = "MyAudio()">Play Audio</button></td>
</tr>

<script>
    function MyAudio()
        {
        document.getElementById('Audio').play();
        }
        
    </script>

</table>
</center>
</body>
</html>
